/.ipynb_checkpoints
/__pycache__
/plot_summary_generator
title.basics.tsv.gz
~$corpus_movies_list.xlsx
comic_corpus.txt
comic_titles.csv
private.ppk
public_key.ppk
main_generator_aws.py
1000_comic_model
corpus_1000_random.txt
aws_text_numbers.txt
combined_plots.txt
mcu_agg_plots.txt
aws_train_model.ipynb
aws_train_model.py
aws_create_tokens.ipynb
aws_create_tokens.py
aws_train_embedding.ipynb
aws_train_embedding.py
aws_create_corpus.ipynb
aws_create_corpus.py
GCNN_main_generator.ipynb
all_movie_plots.txt
all_comics_plots.txt
marvel_corpus.txt
marvel_corpus_tokens.txt
marvel_word_embedding.trainables.syn1neg.npy
marvel_word_embedding.wv.vectors.npy
marvel_word_embedding